# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eagle cruft
*.ger
*.xln
*.pro

# in general, don't allow zips
*.zip

# emacs cruft
*~

